.weatherLocationCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  background: linear-gradient(to bottom, #2d8bad 0%, #87ceeb 100%);
  /* border: 1px solid #2d8bad; */
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: relative;
}

.locationCont{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  padding: 10px 0;
}

.refreshBtn{
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1%;
}