@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/open-sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: italic;
  font-weight: 300;
  src: url('../font/open-sans/OpenSans-LightItalic.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/open-sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: italic;
  font-weight: 400;
  src: url('../font/open-sans/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/open-sans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: italic;
  font-weight: 700;
  src: url('../font/open-sans/OpenSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 800;
  src: url('../font/open-sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'open-sans';
  font-style: italic;
  font-weight: 800;
  src: url('../font/open-sans/OpenSans-BoldItalic.ttf');
}
