.weatherDataCont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.weatherExtraInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    width: 60%;
    height: 100%;
}

.weatherTemperature{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 20px;
    font-weight: 300;
}

.wicon{
    margin-right: 7px;
    color: orange;
}