*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "open-sans";
}
.App{
  width: 100%;
  height: 100vh;
  background-color: #FBFBFB;
}